body{
  background: black;
}
div{
  display: flex;
  /* justify-content: space-between 100px; */
  justify-content: space-around;
  
  
}
header h1{
  text-align: center;
  background-image: linear-gradient(white, rgb(248, 113, 165));
  font-size: 40px;
  font-family: amatic sc;
  margin-top:0px;
  top: 0;
  background-color: rgb(255, 160, 177);
  color: rgb(0, 0, 0);

}
article h2 {
  margin-top:5px;
  font-family: amatic sc;
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  text-align: left;
  
  
}
article h3{
  margin-top:-20px;
}
article  {
  text-align: center;
  display: center;
  width: 33%;
  text-align: justify;
  background-color: rgb(238, 248, 237);
  padding: 20px;
  border-radius: 5px;
  border: 5px dotted rgb(245, 28, 111);
}
#s{
  font-family: amatic sc;
  font-weight: bolder;
  margin-top: -10px;
}

