body {
  font-family: Arial;
  color: #333;
  padding: 50px;
  line-height: 1.5em;
  display: center;
}
h1{
  font-family: marvin round;
  color: rgb(255, 80, 109);
  font-size: 40px;
  margin-top: -10px;
  text-align: center;
  
}
body p{
  background-color: rgb(255, 223, 227);
  border-radius: 5px;
  padding: 10px;
  text-align: justify;
  width:  50%;
}

h2{
  font-family: marvin round;
}

button { 
  padding: 10px;
  font-family: marvin round;
  color: grey;
  background-color: rgb(245, 255, 252);
  border-radius: 5px;
  
}

div {
  padding: 20px;
}

#gamecontrol, #score {
  background-color: aliceblue;
  position: absolute;
  top: 700px;
  left: 250px;
}
#score{
  position: absolute;
  top: 500px;
  left: 250px;
}
#game {
  background-color:#eaeaea;
  position: absolute;
  top: 100px;
  left: 250px;
}
#actions {
  background-color: silver;
  position: absolute;
  top: 300px;
  left: 250px;
}
div{
  width: 50%;
  display: center;
}

#pig1-container{
  position: absolute;
  top: 100px;
  left: 50px;
}
#pig2-container{
  position: absolute;
  top: 100px;
  right: 50px;
}